Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h.in
config.sub
configure
data/Makefile.in
depcomp
doc/Makefile.in
examples/Makefile.in
examples/echo/Makefile.in
examples/ecore/Makefile.in
examples/glib/Makefile.in
examples/hal/Makefile.in
examples/properties/Makefile.in
install-sh
ltmain.sh
m4/
missing
src/Makefile.in
tools/Makefile.in
